.familia {
    background: url('../assets/Familia/bg-familia-vitalinea.jpg');
    margin-top: 5vh;
    font-family: $open-sans;
    color: $darkish-purple;

    &__title {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        padding-top: 6vh;
        text-transform: uppercase;
    }

    .product__container {
        display: flex;
        flex-direction: column;
    }

    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &--griego {
            width: 178px;
            height: 106px;
        }
        &--sn-azucar {
            width: 120px;
            height: 130px;
        }
        &--bebible {
            width: 150px;
            height: 220px;
        }
        p {
            font-size: 11px;
            font-weight: 300;
        }
    }

    @include desktop {
        height: 719px;

        &__title {
            font-size: 44px;
            padding-top: 7vh;
        }
        .product__container {
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            margin-top: 7vh;
        }
        &__product {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &--griego {
                width: 356px;
                height: 212px;
            }
            &--sn-azucar {
                height: 256px;
                width: 223px;
            }
            &--bebible {
                width: 296px;
                height: 414px;
            }
            p {
                font-size: 22px;
                font-weight: 300;
                margin: 0;
            }
        }
    
    }
}