header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
    background-image: linear-gradient(to bottom, $white, $white-67);
    @include text-style-6;

    .header-logo {
        margin-left: 7vw;
    }
    .nav {
        display: none;
    }

    .burguer-icon {
        background-color: transparent;
        width: 28px;
        height: 23px;
        margin-right: 8vw;
        margin-bottom: 5px;
        span {
            background-color: #b98b3c;
            height: 5px;
            width: 28px;
            /* padding-top: 2px; */
            display: block;
            margin-top: 5px;
            margin-left: 8px;
            border-radius: 20px;
        }
        & span:nth-child(2){
            width: 20px;
            margin-left: 15px;
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        img{
            padding-left: 6vw;
        }
        .nav {
            display: flex;
            padding-right: 5vw;
            align-items: center;
            &__menu {
                display: flex;
                list-style: none;
                
                li {
                    padding-left: 4vw;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            &__icons {
                padding-left: 3vw;
                img {
                    padding-left: 1vw;
                }
            }
        }
    }

    }