header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
    background-image: linear-gradient(to bottom, $white, $white-67);
    @include text-style-6;
    z-index: 2;
    
    .header-logo {
        padding-left: 15px;
    }
    .nav__desktop {
        display: none;
    }
    .nav__mobile {
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 100vw;
        position: fixed;
        background-color: $darkish-purple;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        transition: .3s;

        &--active {
            left: 0;
            .menu {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50vh;
                text-align: center;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 300;
                padding-left: 0;
                list-style: none;
                a {
                    text-decoration: none;
                    list-style: none;
                    color: white;
                    cursor: pointer;
                }
            }
            .icons {
                position: absolute;
                top: 90vh;
                width: 40vw;
                height: 7vh;
                display: inline-flex;
                justify-content: space-around;
            }
        }
    }

   

    .burguer-icon {
        background-color: transparent;
        width: 28px;
        height: 23px;
        margin-right: 8vw;
        margin-bottom: 5px;
        span {
            background-color: #b98b3c;
            height: 5px;
            width: 28px;
            display: block;
            margin-top: 5px;
            margin-left: 8px;
            border-radius: 20px;
        }
        & span:nth-child(2){
            width: 20px;
            margin-left: 15px;
        }
        &--active {
            z-index: 4;
            background: #4f164d;
            margin-right: 3vw;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            & span:nth-child(1){
                transform: rotate(45deg);
                width: 35px;
                height: 10px;
                margin-top: 24px;
                margin-left: 12px;
            }
            & span:nth-child(2){
                transform: rotate(-45deg);
                width: 35px;
                height: 10px;
                margin-top: -9px;
                margin-left: 12px;
            }
            & span:nth-child(3){
                display: none;
            }
        }
    }

    
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        z-index: 110;
        position: relative;

        .header-logo {
            padding-left: 5vw;
        }

        .burguer-icon {
            display: none;
        }

        .nav__mobile {
            display: none;
        }
        .nav__desktop {
            display: flex;
            padding-right: 5vw;
            align-items: center;
            &__menu {
                display: flex;
                list-style: none;
                font-size: 12px;
                
                li {
                    padding-left: 4vw;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            &__icons {
                padding-left: 3vw;
                img {
                    padding-left: 1vw;
                }
            }
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        z-index: 110;
        position: relative;
        .header-logo{
            padding-left: 4em;
        }
        .nav__mobile {
            display: none;
        }
        .nav__desktop {
            display: flex;
            padding-right: 5vw;
            align-items: center;
            &__menu {
                display: flex;
                list-style: none;
                
                li {
                    padding-left: 4vw;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            &__icons {
                padding-left: 3vw;
                img {
                    padding-left: 1vw;
                }
            }
        }
        .burguer-icon {
            display: none;
        }
    }
    
    }