
.hero{
    background-image: linear-gradient(to bottom, #f9e6e6, #ebacac);
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
    padding: 0 5.5vw;
    clip-path: polygon(100% 100%, 0 calc(100% - 15vw), 0% 0%, 100% 0%);
    &__image-container {
        position: absolute;
        padding-left: 24vw;
        padding-top: 20px;
        
        img {
            height: 300px;
        }
    }

    &__text-container {
        padding-top: 250px;
        h4 {
            @include text-style-3;
        }
        p {
            @include text-style-5;
        }
        .text__sabor {
            font-weight: 400;
            padding-right: 5px;
            @include text-style-7;
            &--active {
                background-color: #ff0000;
            }
            span {
                width: 78px;
                height: 23px;
                opacity: 0.14;
                border-radius: 11.5px;
                border: solid 1px #000000;
                padding: 0 10px;
                margin-left: 3px;
            }
        }
        button {
            width: 89vw;
            height: 40px;
            background-color: $darkish-purple;
            @include text-style-4;
            border: 0;
        }
    }

    .hero-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        div{
            display: flex;
            margin-bottom: 20px;
            .hero-icons-sello {
                margin-right: 25px;
            }
        }
        .arrow {
            background: $darkish-purple;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include tablet {
        display: flex;
        justify-content: center;
        margin-top: 0;
        height: 664px;
        &__image-container {
            position: relative;
            padding-left: 0;
            margin-right: 8vw;
            margin-top: 10vh;
            img{
                height: 455px;
            }
            
        }
        &__text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40vw;
            text-align: start;
            padding-top: 0;
            margin-top: 15vh;
            h4 {
                margin: 0;
            }
            p {
                font-size: 14px;
            }
            .hero-icons {
                div{
                    margin-bottom: 90px;
                }
                
            }
            button {
                width: 30vw;
            }
        }
    }

    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 664px;
        clip-path: polygon(100% 100%, 0 calc(100% - 10vw), 0% 0%, 100% 0%);
        &__image-container {
            position: static;
            padding-left: 0;
            padding-top: 6vh;
            margin-right: 5vw;
            img{
                height: 555px;
            }
        }
        &__text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40vw;
            text-align: start;
            margin-top: 10vh;
            padding-top: 0;

            h4 {
                margin: 0;
                @include text-style-2;
            }
            p {
                @include text-style;
            }
            .hero-icons {
                div{
                    margin-bottom: 90px;
                }
                
            }
            button {
                width: 20vw;
            }
        }
    }

    @include desktop-l {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 664px;
        &__image-container {
            position: static;
            padding-left: 0;
            padding-top: 6vh;
            margin-right: 5vw;
            img{
                height: 555px;
            }
        }
        &__text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40vw;
            text-align: start;
            margin-top: 10vh;
            padding-top: 0;

            h4 {
                margin: 0;
                @include text-style-2;
            }
            p {
                @include text-style;
            }
            .hero-icons {
                div{
                    margin-bottom: 90px;
                }
                
            }
            button {
                width: 20vw;
            }
        }
    }
}