
@import './abstracts.scss';
@import './components/Header.scss';
@import './components/Hero.scss';
@import './components/Nutrimental.scss';
@import './components/Familia.scss';
@import './components/Footer.scss';



body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url('../assets/Layout/img-fresas-2.png');
    background-position: 720px 0px;
    background-repeat: no-repeat;
}
.scroll {
    overflow-x: hidden;
    overflow-y: hidden;
}