/* Variables */
/* Mixins */
/* mixins media queries */
header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.67));
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
header .nav {
  display: none;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  header img {
    padding-left: 6vw;
  }
  header .nav {
    display: flex;
    padding-right: 5vw;
    align-items: center;
  }
  header .nav__menu {
    display: flex;
    list-style: none;
  }
  header .nav__menu li {
    padding-left: 4vw;
  }
  header .nav__menu li a {
    text-decoration: none;
    color: black;
  }
  header .nav__icons {
    padding-left: 3vw;
  }
  header .nav__icons img {
    padding-left: 1vw;
  }
}

.hero {
  background-image: linear-gradient(to bottom, #f9e6e6, #ebacac);
  padding: 0 5.5vw;
}
.hero__image-container {
  position: absolute;
  padding-left: 22vw;
  padding-top: 20px;
}
.hero__image-container img {
  height: 300px;
}
.hero__text-container {
  padding-top: 250px;
}
.hero__text-container h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}
.hero__text-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.hero__text-container .text__sabor {
  font-weight: 400;
  padding-right: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.hero__text-container .text__sabor--active {
  background-color: #ff0000;
}
.hero__text-container .text__sabor span {
  width: 78px;
  height: 23px;
  opacity: 0.14;
  border-radius: 11.5px;
  border: solid 1px #000000;
  padding: 0 10px;
  margin-left: 3px;
}
.hero__text-container button {
  width: 89vw;
  height: 40px;
  background-color: #78246d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: 0;
}
.hero .hero-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.hero .hero-icons div {
  display: flex;
  margin-bottom: 20px;
}
.hero .hero-icons div .hero-icons-sello {
  margin-right: 25px;
}
.hero .hero-icons span {
  background: #78246d;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    height: 664px;
  }
  .hero__image-container {
    position: static;
    padding-left: 0;
    padding-top: 6vh;
    margin-right: 5vw;
  }
  .hero__image-container img {
    height: 60vh;
  }
  .hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    text-align: start;
    margin-top: 10vh;
    padding-top: 0;
  }
  .hero__text-container h4 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78246d;
  }
  .hero__text-container p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .hero__text-container .hero-icons div {
    margin-bottom: 90px;
  }
  .hero__text-container button {
    width: 20vw;
  }
}

.nutrimental {
  font-family: "Open Sans", sans-serif;
  padding: 0 5.5vw;
}
.nutrimental h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2.41px;
  color: #78246d;
}
.nutrimental .text-first-p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}
.nutrimental .text-ingredientes {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.nutrimental .table {
  width: 89vw;
  background: #fafafa;
  font-size: 12px;
  color: #78246d;
}
.nutrimental .table .row-evenly {
  background: #f8f8f8;
}
.nutrimental .table td {
  padding: 5px;
}
@media (min-width: 1024px) {
  .nutrimental {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
}
.nutrimental .nutrimental__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nutrimental .nutrimental__container h3 {
  font-size: 32px;
}
.nutrimental .nutrimental__container .table {
  width: 30vw;
}
.nutrimental .text-container {
  display: flex;
}
.nutrimental .text-container .text {
  width: 25vw;
}
.nutrimental .text-container .text .text-ingredientes {
  width: 18vw;
}

.familia {
  background: url("../assets/Section/bg-familia-vitalinea.jpg");
}

.footer {
  font-size: 11px;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
