/* Variables */
/* Mixins */
/* mixins media queries */
header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.67));
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  z-index: 2;
}
header .header-logo {
  margin-left: 7vw;
}
header .nav__desktop {
  display: none;
}
header .nav__mobile {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100vw;
  position: fixed;
  background-color: #78246d;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: 0.3s;
}
header .nav__mobile--active {
  left: 0;
}
header .nav__mobile--active .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 0;
  list-style: none;
}
header .nav__mobile--active .menu a {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}
header .nav__mobile--active .icons {
  position: absolute;
  top: 90vh;
  background: #4f164d;
  width: 40vw;
  height: 7vh;
  display: inline-flex;
  justify-content: space-around;
}
header .burguer-icon {
  background-color: transparent;
  width: 28px;
  height: 23px;
  margin-right: 8vw;
  margin-bottom: 5px;
}
header .burguer-icon span {
  background-color: #b98b3c;
  height: 5px;
  width: 28px;
  display: block;
  margin-top: 5px;
  margin-left: 8px;
  border-radius: 20px;
}
header .burguer-icon span:nth-child(2) {
  width: 20px;
  margin-left: 15px;
}
header .burguer-icon--active {
  z-index: 4;
  background: #4f164d;
  margin-right: 3vw;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
header .burguer-icon--active span:nth-child(1) {
  transform: rotate(45deg);
  width: 35px;
  height: 10px;
  margin-top: 24px;
  margin-left: 12px;
}
header .burguer-icon--active span:nth-child(2) {
  transform: rotate(-45deg);
  width: 35px;
  height: 10px;
  margin-top: -9px;
  margin-left: 12px;
}
header .burguer-icon--active span:nth-child(3) {
  display: none;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  header img {
    padding-left: 6vw;
  }
  header .nav__mobile {
    display: none;
  }
  header .nav__desktop {
    display: flex;
    padding-right: 5vw;
    align-items: center;
  }
  header .nav__desktop__menu {
    display: flex;
    list-style: none;
  }
  header .nav__desktop__menu li {
    padding-left: 4vw;
  }
  header .nav__desktop__menu li a {
    text-decoration: none;
    color: black;
  }
  header .nav__desktop__icons {
    padding-left: 3vw;
  }
  header .nav__desktop__icons img {
    padding-left: 1vw;
  }
  header .burguer-icon {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(to bottom, #f9e6e6, #ebacac);
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
  padding: 0 5.5vw;
}
.hero__image-container {
  position: absolute;
  padding-left: 24vw;
  padding-top: 20px;
}
.hero__image-container img {
  height: 300px;
}
.hero__text-container {
  padding-top: 250px;
}
.hero__text-container h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78246d;
}
.hero__text-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.hero__text-container .text__sabor {
  font-weight: 400;
  padding-right: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
.hero__text-container .text__sabor--active {
  background-color: #ff0000;
}
.hero__text-container .text__sabor span {
  width: 78px;
  height: 23px;
  opacity: 0.14;
  border-radius: 11.5px;
  border: solid 1px #000000;
  padding: 0 10px;
  margin-left: 3px;
}
.hero__text-container button {
  width: 89vw;
  height: 40px;
  background-color: #78246d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: 0;
}
.hero .hero-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.hero .hero-icons div {
  display: flex;
  margin-bottom: 20px;
}
.hero .hero-icons div .hero-icons-sello {
  margin-right: 25px;
}
.hero .hero-icons span {
  background: #78246d;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    height: 664px;
  }
  .hero__image-container {
    position: static;
    padding-left: 0;
    padding-top: 6vh;
    margin-right: 5vw;
  }
  .hero__image-container img {
    height: 60vh;
  }
  .hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    text-align: start;
    margin-top: 10vh;
    padding-top: 0;
  }
  .hero__text-container h4 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78246d;
  }
  .hero__text-container p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .hero__text-container .hero-icons div {
    margin-bottom: 90px;
  }
  .hero__text-container button {
    width: 20vw;
  }
}

.nutrimental {
  font-family: "Open Sans", sans-serif;
  padding: 0 5.5vw;
}
.nutrimental h3 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2.41px;
  color: #78246d;
}
.nutrimental .text-first-p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}
.nutrimental .text-ingredientes {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.nutrimental .table {
  width: 89vw;
  background: #fafafa;
  font-size: 12px;
  color: #78246d;
}
.nutrimental .table .row-evenly {
  background: #f8f8f8;
}
.nutrimental .table td {
  padding: 5px;
}
@media (min-width: 1024px) {
  .nutrimental {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 74vh;
  }
  .nutrimental .nutrimental__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .nutrimental .nutrimental__container h3 {
    font-size: 32px;
  }
  .nutrimental .nutrimental__container .table {
    width: 34.2vw;
    height: 35vh;
    font-size: 14px;
  }
  .nutrimental .nutrimental__container td {
    height: 33px;
  }
  .nutrimental .text-container {
    display: flex;
  }
  .nutrimental .text-container .text {
    width: 25vw;
  }
  .nutrimental .text-container .text .text-ingredientes {
    width: 18vw;
  }
}

.familia {
  background: url("../assets/Familia/bg-familia-vitalinea.jpg");
  margin-top: 5vh;
  font-family: "Open Sans", sans-serif;
  color: #78246d;
}
.familia__title {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  padding-top: 6vh;
  text-transform: uppercase;
}
.familia .product__container {
  display: flex;
  flex-direction: column;
}
.familia__product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.familia__product--griego {
  width: 178px;
  height: 106px;
}
.familia__product--sn-azucar {
  width: 120px;
  height: 130px;
}
.familia__product--bebible {
  width: 150px;
  height: 220px;
}
.familia__product p {
  font-size: 11px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .familia {
    height: 72vh;
  }
  .familia__title {
    font-size: 44px;
    padding-top: 7vh;
  }
  .familia .product__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 7vh;
  }
  .familia__product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .familia__product--griego {
    width: 19.3vw;
    height: 20.2vh;
  }
  .familia__product--sn-azucar {
    width: 16vw;
    height: 26.1vh;
  }
  .familia__product--bebible {
    width: 29vh;
    height: 40.4vh;
  }
  .familia__product p {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
  }
}

.footer {
  font-size: 10px;
  font-weight: 600;
  padding: 25px 5px;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.footer__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.footer__text p {
  margin: 0;
}
@media (min-width: 1024px) {
  .footer {
    font-size: 11px;
    font-weight: 600;
    padding: 0 5px;
    height: 116px;
  }
  .footer__icons {
    padding-top: 3.5vh;
  }
  .footer__text {
    position: relative;
    left: 7vw;
    bottom: 4vh;
    text-align: start;
    width: fit-content;
  }
  .footer p {
    margin-bottom: 5px;
  }
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*# sourceMappingURL=main.css.map */
